<h1>About Drinkr</h1>
Drinkr is a site that allows users to post their favorite drinks and have other people comment on them.
Our goal is to provide a way for drink enthusiasts to share their special orders with eachother.

HELP AND DOCUMENTATION:
1. Start by clicking the "Add a New Drink" button. Feel free to add a drink, and hit "Submit Drink" to add your drink, or "Cancel" to make a different one.
2. Check out some of the other drinks posted by people, you'll be surprised by what you find. People are quite creative!

3. You can click the arrows on the right side of each post to upvote or downvote a user's drink. An up vote means you liked their drink, and a down vote means you did not like their drink.

4. You can add or view comments, to see what other people thought of the drinks. Have fun and enjoy discussing drinks in a more creative way.
